*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

ul,
ol,
li {
	list-style: none;
}

:root {
	--Mint-cream: #f2f7f2;
	--chinese-violet: #70587c;
	--violet: #502f4c;
	--pacific-cyan: #4ba3c3;
	--Bittersweet: #ff595e;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

body {
	height: 100vh;
	grid-template-columns: 1fr, 5fr;
	font-family: "Roboto", sans-serif;
	user-select: none;
}

main {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--violet);
}

.scoreboard-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	position: fixed;
	top: 80px;
}

.score {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.scoreboard-container {
	h3,
	h4,
	h5 {
		color: var(--chinese-violet);
		font-size: 2.5rem;
		text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.25);
	}
}

h1,
h2 {
	color: var(--chinese-violet);
	font-size: 2rem;
	text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.25);
}

.board-container {
	width: 600px;
	aspect-ratio: 1 / 1;
	z-index: 1;
}

.board {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--chinese-violet);
	border: 2px solid var(--violet);
	border-radius: 10px;
	font-family: "Balsamiq Sans";
	font-size: 10rem;
	text-shadow: -2px -2px 0 var(--violet), 2px -2px 0 var(--violet), -2px 2px 0 var(--violet), 2px 2px 0 var(--violet);
	color: var(--Mint-cream);

	&:hover {
		border: 1px solid #f2f7f2;
	}
}

#restart {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 60px;
	width: 60px;
	height: 60px;
	background-color: var(--chinese-violet);
	fill: var(--violet);
	border: none;
	border-radius: 40px;
	transition: transform 0.1s ease;

	svg {
		width: 60px;
		height: 60px;
		transition: transform 0.3s ease;

		&:hover {
			animation: spin 0.3s ease forwards;
		}
	}

	&:hover {
		transform: scale(1.1);
		border: 1px solid #f2f7f2;
	}
}

aside {
	position: fixed;
	left: 50px;
	top: 20%;
}

.side-container {
	display: grid;
	gap: 10px;
	grid-template-columns: 5fr 1fr;
	height: 100px;
	width: 400px;
	background-color: var(--chinese-violet);
	border-radius: 10px;
	padding: 10px;

	input[type="text"] {
		grid-template-columns: 1/2;
		padding: 0.2rem;
		font-size: 1rem;
		font-weight: 600;
		color: var(--violet);
		border-radius: 5px;
		border: none;

		&:focus {
			outline: 3px solid var(--violet);
		}
		&::placeholder {
			color: rgb(80, 47, 76, 0.6);
		}
	}
	input[type="color"] {
		grid-template-columns: 2/3;
		border-radius: 5px;
		border: none;

		&:focus {
			outline: 3px solid var(--violet);
		}
	}

	label,
	input {
		align-self: center;
	}
}

.player1,
.player2 {
	display: contents;
}

footer {
	position: fixed;
	bottom: 10px;
	width: 100vw;
	padding: 0.2rem;
	text-align: center;
	background-color: rgb(0, 0, 0, 0.1);
	color: var(--chinese-violet);

	a,
	a:visited {
		cursor: pointer;
		font-size: 1.4rem;
		text-decoration: none;
		color: inherit;
	}
}
